################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FundamentosCsharp/.vs/FundamentosCsharp/FileContentIndex/b363cb67-5b07-4f8f-815b-139214fc5169.vsidx
/FundamentosCsharp/.vs/FundamentosCsharp/FileContentIndex
